/* #region Custom Properties*/

:root {
    --primary: #082a5c;
    --secondary: #ddd;
    --secondary_light: #eee;
    --secondary_dark: #aaa;
    --accent: #5c5c5c;
    --font_std: #2c3e50;
}

/* #endregion */

/* #region Global */

body {
    margin: 0;
    padding: 0;
}

#root {
    font-family: Calibri, Roboto, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    text-align: center;
    align-self: top;

    color: var(--font_std);
}

.page {
    min-width: 100vw;
    min-height: 100vh;
}

/* #endregion */

#greeter {
    background-color: var(--primary);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#greeter > h1 {
    margin: 0;
    width: 100%;
    color: whitesmoke;
}

#greeter > ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.icon {
    background-color: white;
    border-radius: 50%;
}

i {
    color: black;
}

/* #region Header */

#header {
    background-color: var(--primary);
    color: var(--secondary_light);

    align-self: center;
    padding: 0;
    margin: 0 auto;
}

h1 {
    margin: 0 auto;
    padding-bottom: 0;
}

/* #region NavBar */

nav ul {
    margin: 0 auto;
    padding: 0.75rem;
    padding-top: 0rem;
    padding-bottom: 1.25rem;
}

nav ul li {
    display: inline;
}

nav a {
    text-decoration: none;
    border-bottom: var(--secondary_light) solid;
    top: 0;
    bottom: 0;
    padding: 0.5rem;
    padding-bottom: 0.1rem;
    margin: 0.3rem;
}

nav a:link {
    color: var(--secondary_light);
}
nav a:visited {
    color: var(--secondary_light);
}
nav a:active {
    color: var(--secondary_light);
}

/* #endregion */

/* #endregion */

/* #region Background */

#body {
    background-color: var(--secondary_light);
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    min-width: calc(100vw - 3rem);
    min-height: calc(100vh - 3rem);
}

/* #endregion */

/* #region Content */

#content-area {
    text-align: left;
    background-color: white;
    border-radius: 2rem;
}

/* #region Home Page */

#home {
    padding: 1.5rem;
    font-size: 1.25rem;
}

#home > h2 {
    margin: 0;
}

#about {
    text-align: center;
    text-align: left;
    font-size: 1.7rem;
    white-space: pre-line;
}

#about p {
    text-indent: 2ch;
}

p.first {
    margin: 0;
    margin-bottom: 1rem;
}

p.middle {
    margin: 0;
    margin-top: 1;
    margin-bottom: 1;
}

p.last {
    margin: 0;
    margin-top: 1rem;
}

.extern {
    display: inline;
}

#about ul {
    padding: 0;
    margin: 0.5rem;
}

#about a {
    text-decoration: none;
    color: var(--font_std);
}

.post {
    box-shadow: 7px 7px 15px -5px grey;
    padding: 0.5rem;
}

.post .title {
    font-size: 1.75rem;
    float: left;
}

.post .timestamp {
    font-size: 0.75rem;
    float: right;
}

.post .pg {
    padding: 0.7rem;
    padding-left: 0;
}

/* #endregion */

/* #endregion */
