/* #region Custom Properties*/

:root {
    --primary: #082a5c;
    --secondary: #ddd;
    --secondary_light: #eee;
    --secondary_dark: #aaa;
    --accent: #5c5c5c;
    --font_std: #2c3e50;
}

/* #endregion */

/* #region Global */

body {
    margin: 0;
    padding: 0;
}

#root {
    font-family: Calibri, Roboto, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    text-align: center;
    align-self: top;

    color: var(--font_std);
}

/* #endregion */

/* #region Header */

#header {
    background-color: var(--primary);
    color: var(--secondary_light);

    align-self: center;
    padding: 0em;
    margin: 0 auto;
}

h1 {
    margin: 0 auto;
    padding-bottom: 0;
}

/* #region NavBar */

nav ul {
    margin: 0 auto;
    padding: 0.75rem;
    padding-top: 0rem;
    padding-bottom: 1.25rem;
}

nav ul li {
    display: inline;
}

nav a {
    text-decoration: none;
    border-bottom: var(--secondary_light) solid;
    top: 0;
    bottom: 0;
    padding: 0.5rem;
    padding-bottom: 0.1rem;
    margin: 0.3rem;
}

nav a:link {
    color: var(--secondary_light);
}
nav a:visited {
    color: var(--secondary_light);
}
nav a:active {
    color: var(--secondary_light);
}

/* #endregion */

/* #endregion */

/* #region Background */

#background {
    background-color: var(--secondary_light);
}

/* #endregion */

/* #region Content */

#content-area {
    align-self: center;
    align-content: center;
    text-align: left;
    background-color: white;
    border-radius: 0.5rem;
}

/* #region Home Page */

#home {
    padding: 1.5rem;
    font-size: 1.25rem;
}

#home > h2 {
    margin: 0;
}

#about {
    text-align: center;
}

.extern {
    display: inline;
}

#about ul {
    padding: 0;
    margin: 0.5rem;
}

#about a {
    text-decoration: none;
    color: var(--font_std);
}

.post {
    box-shadow: 7px 7px 15px -5px grey;
    padding: 0.5rem;
}

.post .title {
    font-size: 1.75rem;
    float: left;
}

.post .timestamp {
    font-size: 0.75rem;
    float: right;
}

.post .pg {
    padding: 0.7rem;
    padding-left: 0;
}

/* #endregion */

/* #endregion */
